{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

{% endblock %}

{% block title %}Liste des tâches
{% endblock %}

{% block body %}

	<div class="container">
		<table class="table table-striped table-bordered" id="tasksTable">
			<thead>
				<th>Id</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Date effective</th>
				<th>Catégories</th>
			</thead>
			<tbody>
				{% if tasks is defined %}
					{% for task in tasks %}
						<tr>
							<th scope="row">{{ task.id }}</th>
							<td>{{ task.name }}</td>
							<td>{{ task.description }}</td>
							<td>{{ task.dueAt | date('d/m/Y H:i') }}</td>
							<td>{{ task.tag.name }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#tasksTable').DataTable();

});
	</script>
{% endblock %}
