{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

{% endblock %}

{% block title %}Liste des tâches
{% endblock %}

{% block body %}

	<div class="container">

		<div class="d-flex justify-content-around">
			<a href="{{ path('task_archives') }}" class="btn btn-dark d-flex flex-direction: row justify-content-center mb-3 w-25">
				{{ 'general.button.go_to_archive' | trans }}</a>

			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('user_listing') }}" class="btn btn-secondary">Gestion Utilisateurs</a>
				<a href="{{ path('tag_index') }}" class="btn btn-secondary">Gestion Catégorie</a>


			{% endif %}
		</div>

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="d-flex justify-content-center">
					<p class="fw-bold text-{{ label }}">
						{{ message }}
					</p>
				</div>
			{% endfor %}
		{% endfor %}

		<a href="{{ path('task_create') }}" class="btn btn-primary">{{'general.button.add' | trans}}</a>
		<a href="{{ path('task_download') }}" class="btn btn-primary">{{'general.button.download' | trans}}</a>

		<div class="d-flex justify-content-between mb-3">
			<a href="{{ path('task_create') }}" class="btn btn-info">{{ 'general.button.add_task' | trans }}</a>
			<select name="archives" id="selectedValues" onchange='location = this.value;'>
				<option value="archives" selected>Type d'archivage</option>
				<option value="archives_auto">Auto</option>
				<option value="archives_manual">Manuel</option>
			</select>
		</div>

		{% include "task/task_listing.html.twig" %}

	</div>
{% endblock %}
{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>


	<script>
		$(document).ready(function () {
$('#tasksTable').DataTable({
"order": [
[3, "asc"]
],
"columnDefs": [
{
"targets": 3,
"type": "date-eu"
}
],


language: {
"sLengthMenu": "{% trans from 'messages' %}datatables.sLengthMenu                                   {% endtrans %}",
"sSearch": "{% trans from 'messages' %}datatables.sSearch                                   {% endtrans %}",
"sInfo": "{% trans from 'messages' %}datatables.sInfo                                   {% endtrans %}",
"sInfoEmpty": "Showing 0 to 0 of 0 records",
"paginate": {
"first": "{% trans from 'messages' %}datatables.first                                    {% endtrans %}",
"previous": "{% trans from 'messages' %}datatables.previous                                   {% endtrans %}",
"next": "{% trans from 'messages' %}datatables.next                                   {% endtrans %}",
"last": "{% trans from 'messages' %}datatables.last                                   {% endtrans %}"
}
}

});
});
	</script>
{% endblock %}
